/* Сброс стилей и базовая настройка */
  /* Серый фон страницы */
  body, html {
    height: 100%;
    background-color: #f4f4f4;
  }
  
  /* Обёртка для центрирования билета */
  .wrapper {
    height: 100%;
    padding: 20px;
    margin-top: 70px;
  }
  
  /* Сам билет */
  .ticket {
    position: relative;
    background-color: white;
    width: 100%;
    height: 90%;
    border-radius: 20px;


  }
  
  /* Вырез сверху  */
  .top-circle {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-color: #f4f4f4;
    border-radius: 50%;
    
  }
 /*  (под логотип) */
  .top-circle2 {
    position: absolute;
    top: -57px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 75px;
    background-color: #ffffff;
    border-radius: 50%;
    
  }
  
    .middle-cutout {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 95%;
      height: 2px;
    }
    .circle {
      position: absolute;
      bottom: 53%;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      background-color: #f4f4f4;
      border-radius: 50%;
    }

    .circle2 {
      position: absolute;
      bottom: 53%;
      left: 100%;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      background-color: #f4f4f4;
      border-radius: 50%;
    }

  /* Волнистый нижний край */
  .bottom-wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4MCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDgwIDIwIj48cGF0aCBkPSJN MCAyMCBRIDQwIDAgODAgMjAgVjIwIEgwIFoiIGZpbGw9IiNmNGY0ZjQiLz48L3N2Zz4=");
    background-repeat: repeat-x;
    background-size: auto 100%;
  }
